Source: autoshutdown
Section: utils
Priority: optional
Maintainer: Partizand <partizand@gmail.com>
Build-Depends: pandoc,debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/OpenMediaVault-Plugin-Developers/openmediavault-autoshutdown
#Vcs-Browser: https://github.com/partizand/openmediavault-autoshutdown
#Vcs-Git: https://github.com/partizand/openmediavault-autoshutdown.git

Package: autoshutdown
Architecture: all
Depends: fping,pm-utils,sysstat,net-tools,${misc:Depends}
Conflicts: openmediavault-autoshutdown
Description: bash systemd daemon to shutdown host by inactivity.
 Allow system to be automatically shutdown
 based on use rather than a specified time.
